# Tarefa 01 - Vivian Sant Anna

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = {
    "ano": [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    "anomalia_termica": [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Criando a série do pandas
serie_anomalia_termica = pd.Series(data=dados['anomalia_termica'], index=dados['ano'])
serie_anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui

# Criando a série do pandas com anos nos índices
serie_anomalia_termica = pd.Series(data=dados['anomalia_termica'], index=dados['ano'])

# Exibindo a série criada
serie_anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibindo a série
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
#seu código aqui
df.columns = ['x1', 'x2', 'x3']

# Renomeando os índices das linhas para serem inteiros de 1 a 20
df.index = range(1, 21)

df.head()  # Exibindo as primeiras linhas do DataFrame modificado

           x1          x2          x3
1  110.821457   85.000015   94.121425
2   99.890101   95.922429  106.296212
3   96.056547  108.848250  114.717530
4   94.529720   93.606241  102.447672
5  109.948224  108.416687  105.437794

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

df.head()  # Exibindo as primeiras linhas do DataFrame com a nova coluna

           x1          x2          x3       media
1  110.821457   85.000015   94.121425   96.647632
2   99.890101   95.922429  106.296212  100.702914
3   96.056547  108.848250  114.717530  106.540776
4   94.529720   93.606241  102.447672   96.861211
5  109.948224  108.416687  105.437794  107.934235

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
df['log_med'] = np.log(df['media'])


df.head()

           x1          x2          x3       media   log_med
1  110.821457   85.000015   94.121425   96.647632  4.571072
2   99.890101   95.922429  106.296212  100.702914  4.612175
3   96.056547  108.848250  114.717530  106.540776  4.668528
4   94.529720   93.606241  102.447672   96.861211  4.573279
5  109.948224  108.416687  105.437794  107.934235  4.681522